extends layout

block content
  h1  JShorten
  section.css-table
    section.two-column
      section.cell
        h2 Input Text
        form(name="add-estimation", method="post")
            div.input
                <textarea id="description" name="description" rows="10" placeholder="Enter a paragraph of plaintext"></textarea>
                input(id="defaultInText" type="text", name="crop", placeholder="Enter number of sentences to crop to")
        p
            div.actions
                input(type="submit", value="Submit", style="height:50px; width:50px")
        p
      section.cell
        h2 Summary
        form(name="add-estimation", method="get")
            div.input
                <textarea id="output" name="output" rows="10"></textarea>
