doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p Lousanna Cai
            section.cell
              p Jeffrey Yu
            section.cell
              p Dylan Mink
            section.cell
              p Piyush Karki
